/* -------------------------------------- */
/* Toast */

.toast-container {
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
}

/* -------------------------------------- */
/* Table */

tr.htmx-swapping td {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}
